.footer {
    width: 100%;
    background: $footer-background;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 70px 80px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-column a {
    text-decoration: none;
    color: $footer-text;
    transition: color 0.25s, transform 0.25s;
    display: inline-block;
    transform: translateX(0);
}

.footer-column a:hover {
    color: #ffffff;
    transform: translateX(6px);
}

.footer-column p {
    color: $footer-text;
}
